

#cabecalho{
    background-color: #fff;
    border-color: white;


}
#container{
    margin-top:130px;
<<<<<<< HEAD

}
#container1{
    margin-top: 250px;

=======
>>>>>>> 372fb89680b88e5dd6fb36c75288ade693f18f8f
}
#bs-example-navbar-collapse-1 li{
            font-size: 18px;
            margin-top: 10px;


        }


#myCarousel{
    margin-bottom: 30px;
    margin-top: -5px; 
    border-style: inset;
    border-style: outset;
    border-width: 10px;
    border-color: gainsboro;
<<<<<<< HEAD
    border-radius: 12px;
}
=======
    border-radius: 12px;}
>>>>>>> 372fb89680b88e5dd6fb36c75288ade693f18f8f

#paragrafo {
    margin-bottom: 40px;

}

#paragrafo p{
    font-family: 'Dancing Script', cursive;
    margin-bottom: -22px;
    font-size: 14px;
}
#paragrafo h4{
    font-size: 18px;
    font-family: 'Dancing Script', cursive; 
    margin-bottom: -12px;
    text-align: left;
}
.row .thumbnail{
    border-color: white;
    margin-bottom: 10px;

}

.row .thumbnail p {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    margin-top: -10px;
    font-size: 14px;
}
.row .thumbnail h4{
    font-family: 'Bad Script', cursive;
    margin-bottom: 30px;
    text-align: left;
     margin-bottom: 15px;
     margin-left: 80px;
}
.thumbnail .caption h4{
    margin: 2px;
    margin-bottom: -10px;

}
#unidade {
<<<<<<< HEAD
    padding-left: 10px;
    padding-right: 10px;
=======
    padding-left: 20px;
    padding-right: 20px;
>>>>>>> 372fb89680b88e5dd6fb36c75288ade693f18f8f
    margin-top: 50px;
    margin-bottom: 30px;
    }
.row h4 {
<<<<<<< HEAD
    font-size: 20px;
=======
    font-size: 25px;
>>>>>>> 372fb89680b88e5dd6fb36c75288ade693f18f8f
    padding: 0px;
    text-align: center;
    color: #808080;
    font-family: 'Bad Script', cursive;
    
    }
.row p {
    color: #696969;
    font-family: 'Dancing Script', cursive;
    word-spacing: 3px;
    font-size: 16px;
    font-family: verdana, sans-serif;
    text-align: justify;
    margin-top: 20px;
    }
#p{
    font-size: 16px;
    margin-top: -15px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;

    }
#unidade h2{
    color: #696969;
    font-size: 25px;
    margin-bottom: -5px;
}   
h2{
    margin-top: -35px;
    color: #696969;
    font-size: 25px;
    padding: 14px;
    text-align: center;
    font-family: 'Bad Script', cursive;
    	}
    	
h2 strong{
    font-size: 45px;
    font-family: 'Bad Script', cursive;
    margin-bottom: 20px;
    }
    
h3{
    color: #696969;
    font-family: 'Bad Script', cursive;
    }

#rodape p{
    text-align: center;
    
    }
#contato{
   margin-top: 20px;
}

.caption{
    margin:-2px;
}

#capa{

    margin-bottom: 30px; 
    border-radius: 8px;
}
#dica{
    margin-top: 50px;
    margin-bottom: 30px;
    padding: 30px;

}
#dica h1{
<<<<<<< HEAD
    margin-bottom: 20px;
=======
>>>>>>> 372fb89680b88e5dd6fb36c75288ade693f18f8f
    text-shadow: 4px 4px 5px #ccc;
    color: #00BFFF;
    font-family: 'Bad Script', cursive;
    text-align: center;
}
#dica p{
<<<<<<< HEAD
/*    margin:15px;
*/    font-family: 'Bad Script', cursive;
/*    margin-bottom: -15px;
*/    font-size: 20px;
=======
    margin:15px;
    font-family: 'Bad Script', cursive;
    margin-bottom: -15px;
    font-size: 20px;
>>>>>>> 372fb89680b88e5dd6fb36c75288ade693f18f8f
}


#aviso{

    margin-bottom: 30px;
    padding: 30px;
}
#aviso h1{
<<<<<<< HEAD
    margin-bottom: 20px;
=======
>>>>>>> 372fb89680b88e5dd6fb36c75288ade693f18f8f
    text-shadow: 4px 4px 5px #ccc;
    color: #FF4500;
    font-family: 'Bad Script', cursive;
    text-align: center;
}
#aviso p{
<<<<<<< HEAD
/*    margin:15px;
*/    font-family: 'Bad Script', cursive;
/*    margin-bottom: -15px;
*/    font-size: 20px;
=======
    margin:15px;
    font-family: 'Bad Script', cursive;
    margin-bottom: -15px;
    font-size: 20px;
>>>>>>> 372fb89680b88e5dd6fb36c75288ade693f18f8f

}

#titulo-comochegar{
    font-family: 'Bad Script', cursive;
    text-align: center;
<<<<<<< HEAD
    color:ff #696969;
=======
    color: #696969;
>>>>>>> 372fb89680b88e5dd6fb36c75288ade693f18f8f
}

#paginacao{
    text-align: center;

}

#como-chegar{
<<<<<<< HEAD
    padding-left: 20px;
    padding-right: 20px;
=======
    padding-left: 40px;
    padding-right: 40px;
>>>>>>> 372fb89680b88e5dd6fb36c75288ade693f18f8f
    margin-top: 170px;
}
#como-chegar h3{
   padding-left: 20px;
    padding-right: 20px;
}
#como-chegar p{
    text-align: left;
<<<<<<< HEAD
    padding-left: 10px;
    padding-right: 10px;
=======
    padding-left: 20px;
    padding-right: 20px;
>>>>>>> 372fb89680b88e5dd6fb36c75288ade693f18f8f
}
#h5comochegar{
    text-align:center;
    color: red;
}

<<<<<<< HEAD
#mapa{
    margin-bottom: 30px;
    margin-top: 30px;
}

#lista{
     min-height: 170px;
=======
.embed-responsive{
    margin-bottom: 30px;
>>>>>>> 372fb89680b88e5dd6fb36c75288ade693f18f8f
}