{% extends "base.html" %}

{% block title %}
Como Chegar | {{ block.super }}
{% endblock %}
{% block home %}
	<div id="como-chegar" class="col-md-8 col-md-offset-2">
		<h1 id="titulo-comochegar" >Como Chegar</h1>
		<div class="row" >
					<div class="col-xs-12" >
			<p> Não perca a chance de conhecer esse verdadeiro paraíso ao extremo sul da Bahia. O portal CumuruxatibaBahia.com selecionou as melhores alternativas para se chegar neste simpático vilarejo.</p>
		</div>
		
		<div class="col-xs-12" >
			<h3>De avião</h3>
			<p>A rota mais comum tem como destino o Aeroporto de Porto Seguro – BA, localizado a 210km de Prado. De Porto Seguro existem as opções de transporte por ônibus, táxi e translados.</p>
		</div>

		<div class=" col-xs-12" >
			<h3>De carro</h3>
			<p>Os viajantes que vêm do norte, devem pegar a BR 101 até Itamarajú, e seguir em direção a Prado. Para quem está vindo do sul – o acesso também é pela BR 101 – basta dirigir sentido litoral até Teixeira de Freitas, Alcobaça e, por fim, Prado.</p>

			<p>Muitas pessoas que chegam de avião em Porto Seguro preferem contratar serviços de translado, táxi ou até mesmo alugar um automóvel. A distância entre Porto Seguro e Cumuruxatiba é de 242km. Se você pretende dirigir, siga esta rota: </p>

			<p>Porto Seguro(BR-367) -> Santa Cruz Cabrália -> Eunápolis(BR-101) -> Itabela -> Itamaraju(BA-489) -> Prado -> Cumuruxatiba.</p>
		</div>

		<div class="col-xs-12" >
			<p>A partir de Prado, existem duas formas de se chegar a Cumuruxatiba. A estrada principal é a opção mais longa, porém com maior segurança: são 9km de asfalto e 31km na estrada de chão, normalmente bem conservada. A segunda alternativa é mais curta (32km) e oferece belíssimas paisagens, pois ruma paralelamente às praias, por cima das falésias. No entanto, por ser um percurso integral de terra, o acesso fica bastante complicado em épocas chuvosas.</p>
		</div>       
		
		<div class="col-xs-12" >
			<h3>Táxi e Translado </h3>
			<p>Estas são boas opções e uma prática comum para quem deseja ghegar um Cumuruxatiba. Estes serviço são usados tanto para emergências quanto para usufruir as belas paisagens que a vila oferece. E <a href="https://cumuruxatiba.herokuapp.com/servicos/taxi" target="_blank" >aqui</a> você encontra profissionais capacitados a oferecer o melhor serviço.</p>
	
		</div>   

		<div class="col-xs-12" >
			<h3>De ônibus</h3>
			<p>Visitantes provenientes de diversas localidades do país podem chegar a Prado por meio da empresa São Geraldo (0800-704-3496), que mantém linhas diretas de Belo Horizonte, Brasília, Goiânia, Rio de Janeiro, São Paulo, entre outras. A viagem de Prado até Cumuruxatiba, dura aproximadamente uma hora, através da linha oferecida pela companhia Expresso Brasileiro.</p>
			<h5 id="h5comochegar" >Estação Rodoviária de Prado: (73) 3298-1273</h5>
		</div>

	    <div class="embed-responsive embed-responsive-16by9">
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d51302.93414147517!2d-39.22100393833336!3d-17.115967220142714!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7344fcf910a856b%3A0x60d7e073754e63f3!2sCumuruxatiba%2C+Prado+-+BA!5e0!3m2!1spt-BR!2sbr!4v1476449346046" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
			</div>
        </div>
	</div>
{% endblock %}
