{% extends "praia.html" %}
{% block title %}
Praias | {{ block.super }}
{% endblock %}
{% block content %}
            


            {% for foto in capa %}
                    <img id="capa" class="img-responsive" src="{{ foto.image.url }}" alt="{{ foto.description }}">
               {% endfor %}
{% for ondecomer in object_list %}
                  <div id="lista" class=" col-xs-12 col-sm-4 col-md-3" >
                    <a href="{{ ondecomer.get_absolute_url }}">
                      <div class="thumbnail">
                      {% if ondecomer.image_1%}
                        <img src="{{ ondecomer.image_1.url }}" alt="...">
                      {% endif %}
                        <div class="caption">
                          <h4>{{ ondecomer.name }}</h4>
                        </div>
                      </div>
                    </a>
                </div>                
{% endfor %}
<div id="paginacao" class="row" >
  <div class="col-xs-12" >
    <nav>
      <ul class="pagination" >
        {% for page in paginator.page_range %}
        <li> <a href="?page={{ page }}">{{ page }}</a> </li>
        {% endfor %}
      </ul>
    </nav>
  </div>
</div>

{% endblock %}

