{% extends "ondeficar.html" %}

{% block content %}
            
{% for product in object_list %}
                  <div id="lista" class=" col-xs-12 col-sm-4 col-md-3">
                  <a href='{{ product.get_absolute_url }}'>
                  <div class="thumbnail">
                  {% if product.image_1%}
                    <img src="{{ product.image_1.url }}" alt="...">
                  {% endif %}
                    <div class="caption">
                      <h4>{{ product.name }}</h4>
                    </div>
                  </div>
                  </a>
                </div>                
{% endfor %}
{% endblock %}

